.first-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-page > img {
    position: absolute;
    z-index: -1;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    opacity: 0;
}

header {
    width: 100%;
    margin: 0 auto;
    padding-top: 3em;
    padding-bottom: 2em;
    position: fixed;
    background: var(--bgcolor);
    z-index: 10;
}
.header-directions {
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: center;
}
.header-directions > li {
    font-size: 1.8rem;
}
.header-directions > li > a {
    text-decoration: none;
    text-transform: capitalize;
}
.header-directions > li > a:visited {
    color: inherit;
}
.menu {
    position: absolute;
    right: 30px;
    top: 30px;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}
header > nav {
    opacity: 1;
    transition: 0.3s;
}

@media only screen and (max-width: 1440px) {
    .first-page {
        align-items: flex-start;
        padding-top: 70px;
    }

    .header-directions > li {
        margin-bottom: 1em;
        font-size: 3.5rem;
    }
    .header-directions > li > a {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 1024px) {
    .menu {
        opacity: 1;
        width: 30px;
        height: 30px;
    }

    .header-directions {
        flex-direction: column;
        padding-top: 3em;
        height: 100vh;
        display: block;
        padding-left: 2em;
    }
    .inactive {
        opacity: 0;
    }
    .dissapear {
        display: none;
    }
    .header-directions > li > a {
        font-size: 3.5rem;
    }
}
@media only screen and (max-width: 768px) {
}
